@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto&display=swap"); * {
    font-family: Poppins, sans-serif;
}

.circle {width: 181px;height: 181px;border-radius: 50%;background-color: red;position: absolute;left: 43%;z-index: 1;top: 200px;box-shadow: 0px 3px 1px 0px #a30808;}

body {
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.scroll_form {
    width: 50%;
    height: auto;
    background: rgb(254, 248, 233);
    padding-bottom: 200px;
}

.fixed_side {
    position: fixed;
    height: 100vh;
    background: rgb(68, 68, 68);
    width: 50%;
    margin-left: 50%;
}

.box {
    width: 80%;
    height: 200px;
    background: rgb(222, 222, 222);
    margin-top: 20px;
}

.fixed_text {
    color: rgb(255, 255, 255);
    width: 56%;
    margin: 0 auto;
    margin-top: 100px;
}

.apply_header {
    font-size: 26px;
    margin-bottom: 20px;
}

.apply_form {
    width: 400px;
    margin-left: 100px;
    margin-top: 100px;
}

.form_input {
    width: -webkit-fill-available;
    padding: 10px;
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 2px;
    background: rgb(249, 250, 251);
    border: 1px solid rgb(222, 222, 222);
    border-radius: 3px;
}

.logo_upload {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.logo_upload img {
    width: 41px;
    opacity: 0.8;
    margin: 0px auto;
}

.upload_btn {
    display: none;
}

.sallary {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.amount_input {
    width: 265px;
}

.payment_option {
}

#payment {
    padding: 10px;
    font-size: 17px;
    width: 120px;
    border-radius: 4px;
    border: 1px solid rgb(222, 222, 222);
}

.publish_btn {
    width: -webkit-fill-available;
    padding: 10px;
    font-size: 18px;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0) 0px 1px 3px 1px;
}

.publish_btn:hover {
    box-shadow: rgb(0, 0, 0) 0px 5px 3px 1px;
    cursor: pointer;
}

.fixed_heading {
    font-size: 30px;
}

.fixed_widgets {
    margin-top: 72px;
}

.widget {
    margin-top: 20px;
}

.widget_title {
    font-size: 23px;
    font-weight: 500;
}

.widget_desc {
}
